server_ip:
server_url:
wifi_ssid:

homeassistant_latitude:
homeassistant_longitude:
homeassistant_elevation:
homeassistant_timezone:

http_api_password:
http_base_url:
http_trusted_networks_1:
http_trusted_networks_2:

ecobee_api_key:

switch_rachio_api_key:

notify_pushetta_api_key:
notify_pushetta_atomaka_channel_name:

media_player_1_host:
media_player_2_host:
media_player_3_host:

sensors_darksky_api_key:

switches_rf_1_payload_on:
switches_rf_1_payload_off:
switches_rf_2_payload_on:
switches_rf_2_payload_off:
switches_rf_3_payload_on:
switches_rf_3_payload_off:
switches_rf_4_payload_on:
switches_rf_4_payload_off:
switches_rf_5_payload_on:
switches_rf_5_payload_off:

device_tracker_unifi_username:
device_tracker_unifi_password:

zwave_network_key:

known_devices_andrew_mac:
known_devices_stacey_mac:
